
<!doctype html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Nueva pestaña</title>
  </head>
      <body>

        <form action="https://pacient.z3rohero.repl.co/upload" method = "post" enctype="multipart/form-data">
          <div class="form-group">
    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
    <input type="file" id="uploadFile" name="uploadFile">
    <p class="help-block">Ejemplo de texto de ayuda.</p>
</div>

          <button type="submit">enviar</button>
        </form>
      </body> 

</html>